

#log{
	width: 30%;
}
#panel {
	width: 70%;
}


#sidebar {
	dock: left;
	width: 20%;
  height: 100%;
	color: #0f2b41;
	background: rgb(51, 51, 51);
	/* border: rgb(97, 97, 97); */
	margin: 0;
	padding: 0;
}
#player {
	height:22%;
	border: rgb(97, 97, 97);
}
#self-player {
	height: 12%;
	border: rgb(97, 97, 97);
}
#player-heading {
	height: 2;
	content-align: center middle;
}
Static {
	content-align: center middle;
	height: 1fr;
}
Horizontal {
	content-align: center middle;
	height: 1fr;
}
Card{
	content-align: center middle;
	background: rgb(115, 115, 115);
	width:1fr;
	height:1fr;
	margin: 0 1;
	padding: 0;
	
}
